<div>
  <h2 class="text-3xl pb-4 font-bold">Account Statement</h2>
</div>

<table
  *ngIf="transactions.length; else noTransactions"
  mat-table
  [dataSource]="transactions"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td
      mat-cell
      *matCellDef="let element"
      ngClass="{{
        element.type === 'deposit' ? 'text-green-500' : 'text-red-500'
      }}"
    >
      {{ element.type }}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td
      mat-cell
      *matCellDef="let element"
      ngClass="{{
        element.type === 'deposit' ? 'text-green-500' : 'text-red-500'
      }}"
    >
      {{ element.amount | currency : "USD" : "symbol" : "1.0-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef>Balance</th>
    <td mat-cell *matCellDef="let element">
      {{ element.balance | currency : "USD" : "symbol" : "1.0-2" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #noTransactions>
  <mat-card appearance="outlined">
    <mat-card-content>
      <p class="text-xl text-red-500">
        There are no transactions yet !!
      </p></mat-card-content
    >
  </mat-card>
</ng-template>
