<main class="main">
  <mat-toolbar class="p-4 m-4">
    <button mat-icon-button class="example-icon" aria-label="bank">
      <mat-icon>account_balance</mat-icon>
    </button>
    <span>AwesomeGIC Bank</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <app-home />
  <div class="p-4 m-4">
    <!--Routing placeholder-->
    <router-outlet />
  </div>
</main>
